.table {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    /* Adjust this value as needed */
    overflow-x: auto;
    /* for horizontal scroll on small screens */
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.edit-input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

.search-container {
    margin-right: 10px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    float: right;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.json-input-textarea {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adjust as needed */
}

.btn {
    align-items: center;
    border-radius: 15px;
    background-color: aquamarine;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


.container {
    padding: 20px;
    /* Added padding around the container */
}

@media screen and (max-width: 768px) {
    .table {
        max-width: 95%;
        /* More width for smaller screens */
    }

    .container {
        padding: 10px;
        /* Less padding on smaller screens */
    }

    /* Adjust font size, padding, etc., for smaller screens as needed */
}